<!DOCTYPE html>
<html lang="en" data-theme="supavisor-dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Supavisor · Console</title>
    <meta name="theme-color" content="#0b1116" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="min-h-screen">
    <%= @inner_content %>
  </body>
</html>
